* {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03504C;
    padding: 1rem;
    height: 4rem;
}

header.cabecalho h1 {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #03504C;
    gap: 1rem;
}

header.cabecalho img {
    width: 4rem;
    background-color: #03504C;
}

header.cabecalho a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 2rem;
    background-color: #fff;
    color: #000;
    border-radius: 12px;
}

div.titulo_cadastre {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

div.titulo_cadastre h2 {
    font-size: 3rem;
}

form.formulario_dados_logar {
    display: grid;
    justify-content: center;
}

form.formulario_dados_logar img {
    width: 1.8rem;
}

form.formulario_dados_logar button {
    display: flex;
    justify-content: center;
    width: 3rem;
}

form.formulario_dados_logar label {
    font-size: 1.6rem;
    color: #fff;
}

form.formulario_dados_logar input {
    font-size: 1.4rem;
    height: 1.8rem;
    width: 27rem;
}

div.alinhar_form {
    display: grid;
    justify-items: center;
    background-color: #838383;
    width: 34rem;
}

div.alinhar_form label {
    display: flex;
}

div.campos {
    margin: 1rem;
}

div.dado_senha {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-top: 1.6rem;
    gap: 0.4rem;
}

div.formulario_botao_logar {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formulario_botao_logar button {
    font-size: 2rem;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
}

footer.rodape {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 10rem;
}


footer.rodape p {
    font-size: 1.2rem;
    margin: 0.28rem;
}

footer.rodape a {
    text-decoration: underline;
    color: #000000;
}